<h1>My BlogOnRails</h1>

<%= link_to "Create a New Article", new_article_path, class: 'new_article' %>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <span style="float:right">
        <%= link_to "Edit", edit_article_path(article) %> |
        <%= link_to "Destroy", article_path(article), method: :delete, data: {confirm: "Really delete the article?"} %>
   	  </span>
      <%= link_to article.title, article_path(article), class: 'article_title', id: 'article_{article.id}' %>
    </li>
  <% end %>
</ul>
<span style="float:none; clear:both" /><br/><br/></span>

<h2>
<%= link_to "All Tags", :tags %>
</h2>



